<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center style="color: green;">{{ message }}</center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <form method="post">
        <label>Enter your email</label>
        <input type="email" placeholder="enter email" name="email" />
        <button>Submit</button>
    </form>
</body>

</html>